<h2>Añade un vendehumo</h2>

<form (ngSubmit)="guardar()">
  <div>
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre">
  </div>
  <div>
    <label for="descripcion">Descripcion</label>
    <input type="text" id="descripcion">
  </div>
  <div>
    <label for="rrss">RRSS donde aparece</label>
    <input type="checkbox" id="rrss" value="fb">Facebook
    <input type="checkbox" id="rrss" value="twitter">Twitter
    <input type="checkbox" id="rrss" value="instagram">Instagram
    <input type="checkbox" id="rrss" value="youtube">Youtube
  </div>
  <div>
    <label for="categorias">Categorias</label>
    <input type="checkbox" id="categorias" value="apuestas">Apuestas
    <input type="checkbox" id="categorias" value="trading">Trading
    <input type="checkbox" id="categorias" value="cryptos">Cryptos
    <input type="checkbox" id="categorias" value="ingles">Inglés
  </div>
  <button type="submit">Crear vendehumo</button>
</form>